n8n/workflows/fetch-gmail-subscriptions.json
{
  "name": "Fetch Gmail Subscriptions",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Every hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "label:Subscription",
          "includeSpamTrash": false
        },
        "options": {
          "downloadAttachments": false
        },
        "simple": true
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Fetch Subscription Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const msg = $json;\n\nconst pickHeader = (name) => {\n  if (msg.payload && Array.isArray(msg.payload.headers)) {\n    const h = msg.payload.headers.find(x => x.name && x.name.toLowerCase() === name);\n    return h ? h.value : '';\n  }\n  return msg[name] || msg[name.charAt(0).toUpperCase() + name.slice(1)] || '';\n};\n\nconst messageId = msg.id || msg.messageId || (msg.message && msg.message.id) || null;\nconst threadId  = msg.threadId || (msg.message && msg.message.threadId) || null;\nconst subject   = (pickHeader('subject') || '').trim() || '(no subject)';\nconst from      = pickHeader('from') || '';\nconst dateHdr   = pickHeader('date') || '';\n\nif (!messageId) {\n  return { json: { _error: 'missing message id', _keys: Object.keys(msg) } };\n}\n\nlet senderEmail = '', senderName = null;\nconst fromMatch = from.match(/^([^<]*)<([^>]+)>/);\nif (fromMatch) {\n  senderName  = fromMatch[1].replace(/[\"']/g, '').trim() || null;\n  senderEmail = fromMatch[2].trim().toLowerCase();\n} else {\n  senderEmail = from.trim().toLowerCase();\n}\n\nlet bodyText = null, bodyHtml = null;\nif (msg.text || msg.html) {\n  bodyText = (msg.text || '') || null;\n  bodyHtml = (msg.html || '') || null;\n} else if (msg.payload) {\n  function walkParts(part) {\n    if (!part) return;\n    const mime = (part.mimeType || '').toLowerCase();\n    if (mime === 'text/plain' && !bodyText && part.body && part.body.data) {\n      bodyText = Buffer.from(part.body.data, 'base64').toString('utf-8');\n    }\n    if (mime === 'text/html' && !bodyHtml && part.body && part.body.data) {\n      bodyHtml = Buffer.from(part.body.data, 'base64').toString('utf-8');\n    }\n    if (Array.isArray(part.parts)) part.parts.forEach(walkParts);\n  }\n  walkParts(msg.payload);\n}\n\n// Fall back to stripping HTML tags when only HTML is available.\nif (!bodyText && bodyHtml) {\n  bodyText = bodyHtml\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nif (!bodyText) bodyText = msg.snippet || '';\n\n// Cap what we ship to Claude — Haiku 4.5 has a generous window but we don't\n// need the full MIME source to summarize a newsletter. 40k chars ≈ 10k tokens.\nconst bodyForPrompt = (bodyText || '').substring(0, 40000);\n\nlet receivedAt = null;\nif (dateHdr) {\n  const parsed = new Date(dateHdr);\n  if (!isNaN(parsed.getTime())) receivedAt = parsed.toISOString();\n} else if (msg.internalDate) {\n  receivedAt = new Date(parseInt(msg.internalDate)).toISOString();\n}\n\nconst labelIds = Array.isArray(msg.labelIds) ? msg.labelIds : [];\nconst labelsLiteral = '{' + labelIds.map(l => '\"' + String(l).replace(/\"/g, '') + '\"').join(',') + '}';\n\nconst userContent = [\n  'Subject: ' + subject,\n  'From: ' + (senderName ? senderName + ' <' + (senderEmail || '') + '>' : (senderEmail || '')),\n  '',\n  bodyForPrompt\n].join('\\n');\n\nreturn {\n  json: {\n    message_id:     messageId,\n    thread_id:      threadId,\n    sender_email:   senderEmail || null,\n    sender_name:    senderName,\n    subject:        subject,\n    labels_literal: labelsLiteral,\n    received_at:    receivedAt,\n    user_content:   userContent\n  }\n};"
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Normalize Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"claude-haiku-4-5\", max_tokens: 1024, system: [{ type: \"text\", text: \"You summarize subscription newsletter emails. Strip out marketing copy, sponsor mentions, ads, social-media footers, unsubscribe links, and boilerplate. Keep only substantive content. Respond in the same language as the input email. Output valid JSON with this exact shape and nothing else: {\\\"summary\\\": \\\"<1-2 sentence core message>\\\", \\\"themes\\\": [\\\"<short theme>\\\", ...], \\\"key_facts\\\": [\\\"<concrete fact with numbers/names/dates>\\\", ...]}. Use 3-6 themes and 3-8 key_facts. If the email has no substance (pure promo/ad), return {\\\"summary\\\": \\\"(promotional content only)\\\", \\\"themes\\\": [], \\\"key_facts\\\": []}.\", cache_control: { type: \"ephemeral\" } }], messages: [{ role: \"user\", content: $json.user_content }] }) }}",
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 500 } },
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 60000
        }
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Call Claude Haiku",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [960, 300],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const response = $json;\nconst src = $('Normalize Email').item.json;\nif (!src || !src.message_id) return { json: { skip: true } };\n\nlet raw = '';\nif (response && Array.isArray(response.content) && response.content.length > 0) {\n  raw = response.content[0].text || '';\n}\nraw = raw.trim();\n\n// Strip ```json ... ``` fences if the model wraps its JSON.\nif (raw.startsWith('```')) {\n  raw = raw.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\n}\n\nlet parsed = null;\ntry { parsed = JSON.parse(raw); } catch (e) { parsed = null; }\n\nlet summaryMarkdown;\nif (parsed && typeof parsed === 'object') {\n  const lines = [];\n  if (parsed.summary) lines.push(String(parsed.summary).trim());\n  if (Array.isArray(parsed.themes) && parsed.themes.length) {\n    lines.push('', '## Themes');\n    parsed.themes.forEach(t => lines.push('- ' + String(t).trim()));\n  }\n  if (Array.isArray(parsed.key_facts) && parsed.key_facts.length) {\n    lines.push('', '## Key Facts');\n    parsed.key_facts.forEach(f => lines.push('- ' + String(f).trim()));\n  }\n  summaryMarkdown = lines.join('\\n').trim() || null;\n} else {\n  // Fallback: keep whatever text came back so we don't lose the enrichment call.\n  summaryMarkdown = raw || null;\n}\n\nreturn {\n  json: {\n    message_id:     src.message_id,\n    thread_id:      src.thread_id,\n    sender_email:   src.sender_email,\n    sender_name:    src.sender_name,\n    subject:        src.subject,\n    summary:        summaryMarkdown,\n    labels_literal: src.labels_literal,\n    received_at:    src.received_at\n  }\n};"
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO newsletter_items (message_id, thread_id, sender_email, sender_name, subject, summary, labels, received_at) VALUES ($1, $2, $3, $4, $5, $6, $7::text[], $8::timestamptz) ON CONFLICT (message_id) DO UPDATE SET summary = COALESCE(EXCLUDED.summary, newsletter_items.summary)",
        "options": {
          "queryReplacement": "={{ [$json.message_id, $json.thread_id, $json.sender_email, $json.sender_name, $json.subject, $json.summary, $json.labels_literal, $json.received_at] }}"
        }
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Save Subscription Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1440, 300],
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "delete",
        "messageId": "={{ $('Parse Claude Response').item.json.message_id }}"
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Move to Trash",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1680, 200],
      "onError": "continueRegularOutput",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const src = $json;\nif (!src || !src.message_id || !src.subject) return { json: { skip: true } };\n\nconst title = String(src.subject).trim();\nif (!title) return { json: { skip: true } };\n\nfunction cleanText(text) {\n  if (!text) return '';\n  text = text.replace(/https?:\\/\\/\\S+/g, '');\n  text = text.replace(/#\\S+/g, '');\n  const pats = [/unsubscribe.*/gi, /view (this|it) in your browser.*/gi, /click here.*/gi, /manage preferences.*/gi, /you'?re receiving this.*/gi];\n  for (let i = 0; i < pats.length; i++) text = text.replace(pats[i], '');\n  text = text.replace(/\\n{3,}/g, '\\n\\n');\n  return text.split('\\n').filter(l => l.trim().length > 2).join('\\n').trim();\n}\n\nlet content = cleanText(src.summary || '');\nif (content.length > 1200) content = content.substring(0, 1200) + '...';\n\nconst prompt = '你是一位香港時事分析助手。請根據以下電子報資料，用繁體中文完成兩項任務：\\n\\n1. 撮要：用1至2句話概括內容的核心，風格簡潔如新聞標題。可參考標題及內容摘要。\\n2. 關鍵詞：只根據「標題」提取5至8個最重要的繁體中文關鍵詞（人名、地名、事件、議題等），不要從其他參考資料中提取。\\n\\n請以下列JSON格式回覆，不要加任何其他文字：\\n{\\n  \"summary_zh\": \"...\",\\n  \"keywords_zh\": [\"...\", \"...\", \"...\"]\\n}\\n\\n標題：' + title + '\\n\\n其他參考資料（只用於撮要，不用於關鍵詞）：\\n' + content;\n\nreturn {\n  json: {\n    item_type: 'newsletter',\n    item_id:   src.message_id,\n    prompt:    prompt\n  }\n};"
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Build Haiku Zh Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"claude-haiku-4-5\", max_tokens: 256, messages: [{ role: \"user\", content: $json.prompt }] }) }}",
        "options": {
          "batching": { "batch": { "batchSize": 1, "batchInterval": 500 } },
          "response": { "response": { "responseFormat": "json" } },
          "timeout": 30000
        }
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Call Claude Haiku Zh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1920, 460],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const response = $json;\nconst src = $('Build Haiku Zh Prompt').item.json;\nif (!src || src.skip) return { json: { skip: true } };\n\nlet content = '';\nif (response && Array.isArray(response.content) && response.content.length > 0) {\n  content = response.content[0].text || '';\n}\ncontent = content.trim();\nif (!content) return { json: { skip: true, item_type: src.item_type, item_id: src.item_id } };\n\nif (content.indexOf('```') === 0) {\n  const lines = content.split('\\n');\n  const filtered = [];\n  for (let i = 0; i < lines.length; i++) {\n    if (lines[i].indexOf('```') !== 0) filtered.push(lines[i]);\n  }\n  content = filtered.join('\\n').trim();\n}\n\nlet result;\ntry { result = JSON.parse(content); }\ncatch (e) { return { json: { skip: true, item_type: src.item_type, item_id: src.item_id, error: 'JSON parse failed' } }; }\n\nconst summaryZh  = result.summary_zh || null;\nconst keywordsZh = Array.isArray(result.keywords_zh) ? result.keywords_zh : (result.keywords_zh ? [result.keywords_zh] : []);\nconst keywordsLiteral = '{' + keywordsZh.map(k => '\"' + String(k).replace(/\"/g, '') + '\"').join(',') + '}';\n\nreturn {\n  json: {\n    item_type:        src.item_type,\n    item_id:          src.item_id,\n    summary_zh:       summaryZh,\n    keywords_literal: keywordsLiteral\n  }\n};"
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Parse Haiku Zh Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 460]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO item_enrichment (item_type, item_id, summary_zh, keywords_zh, processed_at) VALUES ($1, $2, $3, $4::text[], NOW()) ON CONFLICT (item_type, item_id) DO UPDATE SET summary_zh = EXCLUDED.summary_zh, keywords_zh = EXCLUDED.keywords_zh, processed_at = NOW()",
        "options": {
          "queryReplacement": "={{ [$json.item_type, $json.item_id, $json.summary_zh, $json.keywords_literal] }}"
        }
      },
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "Save Enrichment",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2400, 460],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres"
        }
      }
    }
  ],
  "connections": {
    "Every hour": {
      "main": [
        [
          {
            "node": "Fetch Subscription Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Subscription Emails": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "Call Claude Haiku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Haiku": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Save Subscription Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Subscription Item": {
      "main": [
        [
          {
            "node": "Move to Trash",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Haiku Zh Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Haiku Zh Prompt": {
      "main": [
        [
          {
            "node": "Call Claude Haiku Zh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Haiku Zh": {
      "main": [
        [
          {
            "node": "Parse Haiku Zh Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Haiku Zh Response": {
      "main": [
        [
          {
            "node": "Save Enrichment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": []
}
