n8n/workflows/fetch-gmail-newsletters.json
{
  "name": "Fetch Gmail Newsletters",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Every hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 100,
        "filters": {
          "q": "label:subscription newer_than:2h",
          "includeSpamTrash": false
        },
        "options": {
          "downloadAttachments": false
        },
        "simple": true
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Fetch Newsletter Emails",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const msg = $json;\n\n// Gmail node v2.1 simplified output uses lowercase keys; full MIME uses payload.headers.\n// Header names from Gmail API are case-sensitive (Subject, From, Date) — match case-insensitive.\nconst pickHeader = (name) => {\n  if (msg.payload && Array.isArray(msg.payload.headers)) {\n    const h = msg.payload.headers.find(x => x.name && x.name.toLowerCase() === name);\n    return h ? h.value : '';\n  }\n  return msg[name] || msg[name.charAt(0).toUpperCase() + name.slice(1)] || '';\n};\n\nconst messageId = msg.id || msg.messageId || (msg.message && msg.message.id) || null;\nconst threadId  = msg.threadId || (msg.message && msg.message.threadId) || null;\nconst subject   = (pickHeader('subject') || '').trim() || '(no subject)';\nconst from      = pickHeader('from') || '';\nconst dateHdr   = pickHeader('date') || '';\n\nif (!messageId) {\n  // Debug: surface the keys we actually got so we can diagnose shape mismatches\n  return { json: { _error: 'missing message id', _keys: Object.keys(msg), _sample: JSON.stringify(msg).substring(0, 500) } };\n}\n\nlet senderEmail = '', senderName = null;\nconst fromMatch = from.match(/^([^<]*)<([^>]+)>/);\nif (fromMatch) {\n  senderName  = fromMatch[1].replace(/[\"']/g, '').trim() || null;\n  senderEmail = fromMatch[2].trim().toLowerCase();\n} else {\n  senderEmail = from.trim().toLowerCase();\n}\n\nlet bodyText = null, bodyHtml = null;\nif (msg.text || msg.html) {\n  bodyText = (msg.text || msg.snippet || '').substring(0, 20000) || null;\n  bodyHtml = (msg.html || '').substring(0, 200000) || null;\n} else if (msg.payload) {\n  function walkParts(part) {\n    if (!part) return;\n    const mime = (part.mimeType || '').toLowerCase();\n    if (mime === 'text/plain' && !bodyText && part.body && part.body.data) {\n      bodyText = Buffer.from(part.body.data, 'base64').toString('utf-8').substring(0, 20000);\n    }\n    if (mime === 'text/html' && !bodyHtml && part.body && part.body.data) {\n      bodyHtml = Buffer.from(part.body.data, 'base64').toString('utf-8').substring(0, 200000);\n    }\n    if (Array.isArray(part.parts)) part.parts.forEach(walkParts);\n  }\n  walkParts(msg.payload);\n}\nif (!bodyText) bodyText = (msg.snippet || '').substring(0, 20000) || null;\n\nlet receivedAt = null;\nif (dateHdr) {\n  const parsed = new Date(dateHdr);\n  if (!isNaN(parsed.getTime())) receivedAt = parsed.toISOString();\n} else if (msg.internalDate) {\n  receivedAt = new Date(parseInt(msg.internalDate)).toISOString();\n}\n\nconst labelIds = Array.isArray(msg.labelIds) ? msg.labelIds : [];\nconst labelsLiteral = '{' + labelIds.map(l => '\"' + String(l).replace(/\"/g, '') + '\"').join(',') + '}';\n\nreturn {\n  json: {\n    message_id:     messageId,\n    thread_id:      threadId,\n    sender_email:   senderEmail || null,\n    sender_name:    senderName,\n    subject:        subject,\n    body_text:      bodyText,\n    body_html:      bodyHtml,\n    labels_literal: labelsLiteral,\n    received_at:    receivedAt\n  }\n};"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Normalize Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO newsletter_items (message_id, thread_id, sender_email, sender_name, subject, body_text, body_html, labels, received_at) VALUES ($1, $2, $3, $4, $5, $6, $7, $8::text[], $9::timestamptz) ON CONFLICT (message_id) DO NOTHING",
        "options": {
          "queryReplacement": "={{ [$json.message_id, $json.thread_id, $json.sender_email, $json.sender_name, $json.subject, $json.body_text, $json.body_html, $json.labels_literal, $json.received_at] }}"
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Save Newsletter Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [960, 300],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "Postgres"
        }
      }
    }
  ],
  "connections": {
    "Every hour": {
      "main": [
        [
          {
            "node": "Fetch Newsletter Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Newsletter Emails": {
      "main": [
        [
          {
            "node": "Normalize Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email": {
      "main": [
        [
          {
            "node": "Save Newsletter Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": []
}
